@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Manage Students";
}

<partial name="_TempDataAlerts"/>

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>

<div class="card-body d-flex flex-column">
    <div id="searchContainer" style="max-width: 300px; display: none;">
        <input type="search" id="searchInput" placeholder="Search..." class="form-control form-control-sm">
    </div>

    <div id="studentsTableContainer">@await Html.PartialAsync("_AllPartial.cshtml", Model)</div>

    @section scripts
    {
        <partial name="_DataTablesScripts"/>
        <script>
            setupDataTable({
                resultContainerSelector: '#studentsTableContainer',
                searchUrl: '@Url.Action("All", "Student")',
                tableSelector: '#studentsTable',
                onInitComplete: function () {
                    document.getElementById('searchContainer').style.display = 'block';
                }
            });
        </script>
    }
</div>
