.action-container {
    display: grid;
    gap: 0.625rem;
    justify-content: start;
    align-items: center;
    max-width: fit-content;
    grid-template-columns: repeat(auto-fit, minmax(6.25rem, max-content));
}

    .action-container.four-buttons {
        grid-template-columns: repeat(2, max-content);
    }

    .action-container.not-four-buttons {
        grid-auto-flow: column;
        grid-auto-columns: max-content;
    }

.action-btn {
    /*min-width: 6.25rem;*/
    /*padding: 0.375rem 0.375rem;*/
    padding: 0.25rem 0.5rem;
    text-align: center;
    white-space: nowrap;
}

.custom-table {
    width: 100%;
    word-wrap: break-word;
    flex: 1 1 auto;
}

    .custom-table th {
        text-align: start;
        padding: 0.5rem 0.75rem;
        border-bottom: 1px solid #ddd;
    }

    .custom-table tbody tr:hover {
        background-color: #555555;
        cursor: pointer;
    }

    .custom-table td, .custom-table th {
        padding: 0.5rem 0.75rem;
        vertical-align: middle;
        white-space: normal;
        word-wrap: break-word;
    }

    .custom-table .name-col,
    .custom-table .address-col,
    .custom-table .email-col {
        max-width: 10rem;
        white-space: normal;
        word-wrap: break-word;
    }

    .custom-table .phone-col {
        max-width: 3.75rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .custom-table .role-col {
        max-width: 5rem;
        white-space: normal;
        word-wrap: break-word;
    }

    .custom-table td:last-child,
    .custom-table th:last-child {
        white-space: nowrap;
        max-width: 21.25rem;
        width: 1%;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
    }


.custom-table_paginate {
    text-align: center !important;
    width: 100%;
}

.dt-top-left {
    flex: 1 1 auto;
    max-width: 40%;
}


.dt-top-right {
    flex: 0 0 auto;
    padding: 0.5rem;
}

.dt-top-right .dt-buttons {
    margin-left: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dt-bottom-left {
    flex: 0 0 auto;
}

    .dt-bottom-left select {
        padding: 0.25rem 0.5rem;
    }

.dt-bottom-right {
    flex: 0 0 auto;
}

.dt-bottom-center {
    flex: 1 1 auto;
    display: flex !important;
    justify-content: center;
    text-align: center;
}

.card-body {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#searchContainer {
    width: 100%;
    max-width: 400px;
}

#searchInput {
    width: 100%;
}

/*@media (max-width: 768px) {
    .action-container {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0.5rem;
        max-width: 100% !important;
        padding: 0 0.5rem;
    }

    .action-btn {
        flex: 1 1 45%;
        min-width: 6.25rem;
        max-width: 100%;
        margin-bottom: 0.5rem;
    }

    .card-body {
        overflow-x: auto;
    }
}*/

