.action-container {
    display: grid;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    max-width: fit-content;
}

    .action-container.four-buttons {
        grid-template-columns: repeat(2, max-content);
    }

    .action-container.not-four-buttons {
        grid-auto-flow: column;
        grid-auto-columns: max-content;
    }

.action-btn {
    width: 100px;
    padding: 6px 6px;
    text-align: center;
}

.custom-table {
    width: 100%;
    word-wrap: break-word;
}

    .custom-table th {
        text-align: start;
    }

    .custom-table tbody tr:hover {
        background-color: #555555;
        cursor: pointer;
    }

    .custom-table td, .custom-table th {
        padding: 8px 12px;
        vertical-align: middle;
        white-space: normal;
        word-wrap: break-word;
    }

    .custom-table .name-col {
        max-width: 160px;
        white-space: normal;
        word-wrap: break-word;
    }

    .custom-table .address-col {
        max-width: 160px;
        white-space: normal;
        word-wrap: break-word;
    }

    .custom-table .email-col {
        max-width: 160px;
        white-space: normal;
        word-wrap: break-word;
    }

    .custom-table .phone-col {
        max-width: 60px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .custom-table .role-col {
        max-width: 80px;
        white-space: normal;
        word-wrap: break-word;
    }

    .custom-table td:last-child,
    .custom-table th:last-child {
        white-space: nowrap;
        max-width: 340px;
        width: 1%;
        padding-left: 10px;
        padding-right: 10px;
    }
  

.custom-table_paginate {
    text-align: center !important;
    width: 100%;
}

.dt-top-left {
    flex: 1 1 auto;
    max-width: 40%;
    color: red;
}


.dt-top-right {
    flex: 0 0 auto;
}

.dt-bottom-left {
    flex: 0 0 auto;
}

    .dt-bottom-left select {
        padding: 4px 8px;
    }

.dt-bottom-center {
    flex: 1 1 auto;
    display: flex !important;
    justify-content: center;
    text-align: center;
}
