@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Manage Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["SuccessMessage"] !=
     null)
{
    <div class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
}
else if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">@TempData["ErrorMessage"]</div>
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr/>

<div class="card-body d-flex flex-column">
    <div id="searchContainer" style="max-width: 300px; display: none; padding-bottom: 1rem">
        <input type="search" id="searchInput" placeholder="Search..." class="form-control form-control-sm"/>
    </div>

    <div id="filterContainer" style="max-width: 300px; display: none">
        <select id="roleFilter" class="form-control form-control-sm">
            <option value="">All Roles</option>
            <option value="Admin">Admin</option>
            <option value="Teacher">Teacher</option>
            <option value="Guardian">Guardian</option>
            <option value="Student">Student</option>
            <option value="NoRoleAssigned">No Role Assigned</option>
        </select>
    </div>

    <div id="usersTableContainer">@await Html.PartialAsync("_AllPartial.cshtml", Model)</div>
</div>

@section scripts {
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/js/initDataTable.js"></script>
    <script>
        setupDataTable({
            resultContainerSelector: '#usersTableContainer',
            searchUrl: '@Url.Action("All", "User")',
            tableSelector: '#usersTable',
            onInitComplete: function () {
                document.getElementById('searchContainer').style.display = 'block';
                document.getElementById('filterContainer').style.display = 'block';
            },
        });
    </script>
}
