@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>400 - Bad Request</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body class="d-flex justify-content-center align-items-center vh-100 text-center">
<div class="container-fluid">
    <h1 class="text-warning" style="font-size: 3em;">400 - Bad Request</h1>
    <p class="mb-4">We are sorry, your browser sent an invalid request.</p>
    <a class="btn btn-secondary fw-bold btn-lg" href="/">Go back to Home</a>
</div>
</body>
</html>
