@model AddClassroomViewModel

<h2>Create Classroom</h2>

<form asp-controller="Classroom" asp-action="Add" method="post" onsubmit="return validateForm()">
	<div class="form-group">
		<label asp-for="Name">Classroom Name</label>
		<input asp-for="Name" class="form-control"/>
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="TeacherId">Teacher</label>
		<select asp-for="TeacherId" class="form-control" id="teacherDropdown" onchange="updateTeacherId()">
			<option value="">-- Select Teacher --</option>
			@foreach (var teacher in Model.UnassignedTeachers)
			{
				<option value="@teacher.Id">@teacher.Name</option>
			}
		</select>
		<span asp-validation-for="TeacherId" class="text-danger"></span>
	</div>

	<div class="alert alert-danger" id="teacherAlert" style="display: none;">
		Please select a teacher.
	</div>

	<div class="form-group">
		<label>Students</label>
		<select asp-for="SelectedStudents" multiple class="form-control" id="studentDropdown" onchange="updateSelectedStudents()">
			@foreach (var student in Model.Students)
			{
				<option value="@student.Id">@student.Name</option>
			}
		</select>
		<span asp-validation-for="SelectedStudents" class="text-danger"></span>
		<small class="form-text text-muted">Hold down Ctrl (or Command on Mac) to select multiple students.</small>
	</div>

	<input type="hidden" asp-for="SchoolId"/>
	<input type="hidden" id="teacherId" name="TeacherId"/>
	<input type="hidden" id="selectedStudents" name="SelectedStudents"/>

	<button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
	<script>
        function updateTeacherId() {
            var selectedTeacherId = document.getElementById("teacherDropdown").value;
            document.getElementById("teacherId").value = selectedTeacherId; // Update the hidden input field with the selected teacher ID
            console.log("Selected Teacher ID: " + selectedTeacherId);
        }

          function updateSelectedStudents() {
        var selectedStudents = Array.from(document.getElementById("studentDropdown").selectedOptions).map(option => option.value);
        document.getElementById("selectedStudents").value = JSON.stringify(selectedStudents);
        console.log("Selected Student IDs: " + JSON.stringify(selectedStudents));
    }

        function validateForm() {
            var teacherId = document.getElementById("TeacherId").value;
            if (teacherId === '') {
                document.getElementById("teacherAlert").style.display = "block";
                return false;
            } else {
                document.getElementById("teacherAlert").style.display = "none";
            }

            return true;
        }
    </script>
}