@model ClassroomDetailsViewModel

@{
    ViewData["Title"] = "Classroom Details";
}

<div class="container mt-5">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <hr/>

    @await Html.PartialAsync("~/Views/Admin/Classroom/_DetailsPartial.cshtml", Model)

    <div class="mt-5">
        <a class="btn btn-warning fw-bold" asp-controller="Classroom" asp-action="Edit"
           asp-route-schoolId="@Model.SchoolId">Edit</a>
    </div>
</div>
