@model IEnumerable<SchoolDetailsViewModel>
@{
    ViewData["Title"] = "All Schools";
}

<partial name="_TempDataAlerts"/>

<h1 class="text-center">@ViewData["Title"]</h1>
<hr/>

<div class="card-body d-flex flex-column">
    <div id="searchContainer" style="max-width: 300px; display: none;">
        <input type="search" id="searchInput" placeholder="Search..." class="form-control form-control-sm">
    </div>

    <div id="schoolsTableContainer">@await Html.PartialAsync("_AllPartial.cshtml", Model)</div>
</div>

@section scripts {
    <partial name="_DataTablesScripts"/>
    <script>
        setupDataTable({
            resultContainerSelector: '#schoolsTableContainer',
            searchUrl: '@Url.Action("All", "School")',
            tableSelector: '#schoolsTable',
            onInitComplete: function () {
                document.getElementById('searchContainer').style.display = 'block';
            }
        });
    </script>
}
